<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Spotify Users Compatibility with Minh!</title>
		<link rel="icon" type="image/png" href="../static/spotify-icon.png"/>
		<link href="../static/style.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
			  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.typekit.net/vel7bpw.css">
		<meta charset="UTF-8">
	</head>
	<body style="background-color: #dee2ff;">
		<main>
			<div class="indexcontent">
				<h1> Welcome to Spotify Compatibility with Minh!</h1>
				<p>
					this is a place where you can compare your music taste with mine to see <br> if we
					are meant to be friends <3
				</p>
				<p> You will know if we are meant to be ;) by seeing the percentage of our compatibility!</p>

				<!--	not logged in!	-->
				<p> With that, why don't you enter your user name below and we'll go from there!</p>
				<form action="\auth\login">
				  <label for="username">Spotify User Name</label><br>
				  <input type="text" id="username" name="username" value=""><br>
				</form>
				<a href="/auth/login">
					<button>Let's Go!</button>
				</a>
			</div>
		</main>
	</body>
</html>



